Repository leosocy/EDCC-Palmprint-Recognition: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests

codecov precision 4 -> 2
  .codecov.yml
Due: none

modify README license badge
  README.md
Due: none

modify README license badge to green
  README.md
Due: none

1. Fix a decoding bug 2. Delete useless code
  source/include/core/checker.h
  source/src/api/api.cc
  source/src/core/checker.cc
  source/src/core/edccoding.cc
  test/CMakeLists.txt
  test/exampleOrigin/features/linux/features.json
  test/exampleOrigin/features/linux/trainingFeatures.json
  test/exampleOrigin/features/linux/trainingFeaturesBeenChanged.json
  test/exampleOrigin/features/windows/features.json
  test/exampleOrigin/features/windows/trainingFeatures.json
  test/exampleOrigin/features/windows/trainingFeaturesBeenChanged.json
  test/source/src/ft_get_top_k.cpp
Due: app, tests

1. Fix a decoding bug 2. Delete useless code
  test/CMakeLists.txt
Due: tests

fix for cppcheck
  source/src/core/edccoding.cc
Due: app

codecov
  README.md
Due: none

code style format
  include/edcc.h
Due: app

code style format
  include/edcc.h
  source/src/core/matcher.cc
  source/src/core/palmprintcode.cc
Due: app

py sample bug
  samples/py_sample/PalmprintImageFactory.py
  samples/py_sample/run_sample.py
Due: none

fit for opencv docker image
  CMakeLists.txt
  source/src/core/palmprint.cc
Due: app

fit for opencv docker image
  CMakeLists.txt
Due: none

mkdir ld.conf.d
  CMakeLists.txt
Due: none

1. use compact docker images 2. test lint parallel
  .gitlab-ci.yml
Due: none

gitlabci stage
  .gitlab-ci.yml
Due: none

mod docker images
  .gitlab-ci.yml
Due: none

migrate test data to database directory
  test/exampleOrigin/features/linux/features.json
  test/exampleOrigin/features/linux/trainingFeatures.json
  test/exampleOrigin/features/linux/trainingFeaturesBeenChanged.json
  test/exampleOrigin/features/windows/features.json
  test/exampleOrigin/features/windows/trainingFeatures.json
  test/exampleOrigin/features/windows/trainingFeaturesBeenChanged.json
  test/exampleOrigin/group/linux/trainingSetGroup.json
  test/exampleOrigin/group/linux/trainingSetGroupCover.json
  test/exampleOrigin/group/linux/trainingSetGroupIncremental.json
  test/exampleOrigin/group/linux/trainingSetGroupSomeImageError.json
  test/exampleOrigin/group/linux/trainingSetGroup_ConflictImage.json
  test/exampleOrigin/group/linux/trainingSetGroup_WrongFormat.json
  test/exampleOrigin/group/windows/trainingSetGroup.json
  test/exampleOrigin/group/windows/trainingSetGroupCover.json
  test/exampleOrigin/group/windows/trainingSetGroupIncremental.json
  test/exampleOrigin/group/windows/trainingSetGroupSomeImageError.json
  test/exampleOrigin/group/windows/trainingSetGroup_ConflictImage.json
  test/exampleOrigin/group/windows/trainingSetGroup_WrongFormat.json
  test/source/include/ft_edcc_base.h
Due: tests

cmake
  CMakeLists.txt
Due: none

Path conditions:
  app: any of: include/, source/
  tests: any of: test/
