Repository leosocy/EDCC-Palmprint-Recognition: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests

refact: reorganize the file organization structure
  .clang-format
  .codecov.yml
  .gitignore
  .travis.yml
  CMakeLists.txt
  Dockerfile.base
  Dockerfile.python
  FindEDCC.cmake
  edcc-config-version.cmake.in
  edcc-config.cmake.in
  include/edcc.h
  include/edcc/edcc.h
  include/edcc/status.h
  manage.sh
  pypackage/edcc_adapter.py
  thirdparty/README.md
  thirdparty/gtest/CMakeLists.txt.in
Due: app

refact: reorganize the file organization structure
  .clang-format
  .codecov.yml
  .gitignore
  .travis.yml
  CMakeLists.txt
  Dockerfile.base
  Dockerfile.python
  FindEDCC.cmake
  edcc-config-version.cmake.in
  edcc-config.cmake.in
  include/edcc.h
  include/edcc/edcc.h
  include/edcc/facade.h
  include/edcc/status.h
  manage.sh
  pypackage/edcc_adapter.py
  src/codec/code.h
  src/codec/core_encoder.cpp
  src/codec/core_encoder.h
  src/comparer/comparer.cpp
  src/comparer/comparer.h
  src/config/config.h
  src/config/manager.cpp
  src/config/manager.h
  src/config/reader.cpp
  src/config/reader.h
  src/config/validator.cpp
  src/config/validator.h
  src/controller/c_api.cpp
  src/controller/facade.cpp
  thirdparty/README.md
  thirdparty/gtest/CMakeLists.txt.in
Due: app

feat: simple config reader
  .gitignore
  include/edcc.h
  src/config/config.h
  src/config/manager.cpp
  src/config/reader.cpp
  src/config/reader.h
  test/CMakeLists.txt
  test/main.cpp
  test/test_config/test_reader.cpp
Due: app, tests

feat: validate config when set value
  include/edcc/status.h
  src/config/config.h
  src/config/reader.cpp
  src/config/reader.h
  src/config/validator.cpp
  src/config/validator.h
  src/util/util.h
  test/test_config/test_reader.cpp
Due: app, tests

feat: codec code structs
  src/codec/code.h
  src/config/manager.cpp
  src/config/manager.h
  src/config/reader.h
  test/test_codec/test_core_encoder.cpp
  test/test_config/test_reader.cpp
Due: tests

feat: core encoder
  src/codec/code.h
  src/codec/core_encoder.cpp
  src/codec/core_encoder.h
  src/config/config.h
  src/config/reader.cpp
  src/config/reader.h
  test/test_codec/test_core_encoder.cpp
  test/test_config/test_reader.cpp
Due: tests

feat: gabor filter
  .clang-format
  .gitignore
  src/codec/core_encoder.cpp
  src/codec/core_encoder.h
  src/codec/gabor_filter.cpp
  src/codec/gabor_filter.h
  src/config/reader.cpp
  src/config/reader.h
  test/CMakeLists.txt
  test/palmprint_data/download.sh
  test/palmprint_data/downloads.lst
  test/test_base.h
  test/test_codec/test_gabor_filter.cpp
  test/test_config/test_reader.cpp
Due: tests

feat: core encoder
  .clang-format
  include/edcc/status.h
  src/codec/code.h
  src/codec/core_encoder.cpp
  src/codec/core_encoder.h
  src/codec/gabor_filter.cpp
  test/test_codec/test_core_encoder.cpp
  test/test_codec/test_gabor_filter.cpp
Due: app, tests

feat: core comparer
  include/edcc/status.h
  src/comparer/comparer.cpp
  src/comparer/comparer.h
  src/config/config.h
  src/config/reader.cpp
  src/config/reader.h
  src/core/code.h
  src/core/comparer.cpp
  src/core/comparer.h
  src/core/encoder.cpp
  src/core/encoder.h
  src/core/gabor_filter.cpp
  src/core/gabor_filter.h
  test/test_config/test_reader.cpp
  test/test_core/test_comparer.cpp
  test/test_core/test_encoder.cpp
  test/test_core/test_gabor_filter.cpp
Due: app, tests

feat: edcc facade
  include/edcc.h
  include/edcc/facade.h
  src/controller/facade.cpp
  test/test_controller/test_facade.cpp
  test/test_core/test_comparer.cpp
Due: app, tests

feat: edcc facade
  include/apiInputsExample/README.md
  include/apiInputsExample/config.json
  include/apiInputsExample/features.json
  include/apiInputsExample/trainingSet.json
  include/edcc.h
  include/edcc/facade.h
  src/controller/facade.cpp
  test/test_controller/test_facade.cpp
  test/test_core/test_comparer.cpp
Due: app, tests

feat: c apis
  include/edcc/c_api.h
  include/edcc/facade.h
  include/edcc/status.h
  src/controller/c_api.cpp
  src/controller/facade.cpp
  test/test_controller/test_c_api.cpp
  test/test_controller/test_facade.cpp
Due: app, tests

feat: python package
  include/edcc/c_api.h
  pypackage/MANIFEST.in
  pypackage/edcc.py
  pypackage/edcc/clib.py
  pypackage/edcc/code.py
  pypackage/edcc/encoder.py
  pypackage/edcc/exceptions.py
  pypackage/edcc_adapter.py
  pypackage/setup.cfg
  pypackage/setup.py
  src/config/reader.cpp
  src/util/util.h
Due: app

feat: python package
  include/edcc/c_api.h
  pypackage/MANIFEST.in
  pypackage/edcc/__init__.py
  pypackage/edcc/clib.py
  pypackage/edcc/code.py
  pypackage/edcc/config.py
  pypackage/edcc/constants.py
  pypackage/edcc/encoder.py
  pypackage/edcc/exceptions.py
  pypackage/edcc_adapter.py
  pypackage/setup.cfg
  pypackage/setup.py
  src/config/reader.cpp
  src/util/util.h
Due: app

feat: usage samples
  .gitignore
  README.md
  pypackage/edcc/__init__.py
  pypackage/edcc/adapter.py
  pypackage/edcc/clib.py
  pypackage/edcc/code.py
  pypackage/edcc/encoder.py
  pypackage/edcc/exceptions.py
  pypackage/setup.py
  samples/cpp_sample/CMakeLists.txt
  samples/cpp_sample/config.json
  samples/cpp_sample/sample.cpp
  samples/py_sample/PalmprintCodeRepository.py
  samples/py_sample/PalmprintImageFactory.py
  samples/py_sample/README.md
  samples/py_sample/edcc_config/config.json
  samples/py_sample/run_sample.py
Due: none

feat: usage samples
  .gitignore
  README.md
  pypackage/edcc/__init__.py
  pypackage/edcc/adapter.py
  pypackage/edcc/clib.py
  pypackage/edcc/code.py
  pypackage/edcc/encoder.py
  pypackage/edcc/exceptions.py
  pypackage/setup.py
Due: none

feat: cpp example
  CONTRIBUTING.md
  LICENSE
  README.md
  README_CH.md
  examples/cpp_exmaple/CMakeLists.txt
  examples/cpp_exmaple/example.cpp
  examples/palmprint_data/README.md
  examples/palmprint_data/download.sh
  include/edcc/c_api.h
  manage.sh
  pypackage/edcc/adapter.py
  src/controller/c_api.cpp
  src/core/comparer.cpp
  src/core/gabor_filter.cpp
  src/core/gabor_filter.h
  test/palmprint_data/download.sh
  test/test_core/test_gabor_filter.cpp
  thirdparty/README.md
Due: app, tests

feat: examples
  .gitignore
  README.md
  examples/c_example/CMakeLists.txt
  examples/c_example/example.c
  examples/palmprint_data/download.sh
  examples/py_example/example.py
  include/edcc/c_api.h
  palmprint_data/README.md
  palmprint_data/download.sh
  palmprint_data/downloads.all.lst
  palmprint_data/downloads.lst
  pypackage/edcc/__init__.py
  pypackage/edcc/adapter.py
  pypackage/edcc/encoder.py
  src/controller/c_api.cpp
  test/CMakeLists.txt
  test/palmprint_data/download.sh
  test/test_base.h
  test/test_controller/test_c_api.cpp
Due: app, tests

remove unused files
  README.md
  examples/c_example/CMakeLists.txt
  examples/c_example/example.c
  examples/palmprint_data/download.sh
  examples/py_example/example.py
  include/edcc/c_api.h
  palmprint_data/README.md
  palmprint_data/download.sh
  palmprint_data/downloads.all.lst
  palmprint_data/downloads.lst
  pypackage/edcc/__init__.py
  pypackage/edcc/adapter.py
  pypackage/edcc/encoder.py
  src/controller/c_api.cpp
  test/CMakeLists.txt
  test/palmprint_data/download.sh
  test/test_base.h
  test/test_controller/test_c_api.cpp
Due: app, tests

fix: typo
  test/CMakeLists.txt
Due: tests

fix: codecov missing
  manage.sh
Due: none

fix: change CV_BGR2GRAY -> cv::COLOR_BGR2GRAY for opencv 3.x
  src/core/gabor_filter.cpp
Due: none

doc: more info in readme
  README.md
Due: none

fix: memory leak in C/C++ example
  examples/c_example/example.c
  examples/cpp_exmaple/example.cpp
Due: none

chore: fix typo
  .gitignore
  CMakeLists.txt
  README.md
  examples/cpp_example/CMakeLists.txt
  examples/cpp_example/example.cpp
Due: none

Path conditions:
  app: any of: include/, source/
  tests: any of: test/
